@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

/* Declaring variables */
:root {
  --text-clr: white;
  --onHover-clr: gray;
  --font-family-paragraph: "Space Mono", monospace;
  --clr-list--bg: #1a1a1d;
  --svg-clr: white;
}

/* Reset CSS*/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 1rem;
}
ul,
li {
  list-style-type: none;
}
/* Main elements */
.aboutUs__section {
  display: flex;
  color: white;
  /* border: 1px solid blue; */
  padding-inline-start: 1rem;
  padding-inline-end: 7rem;
  padding-top: 3.6rem;
}

/* List section-1 */
.aboutUs__section > .list--1 > p {
  margin-left: -1rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.list--1 > ul > li {
  width: 105%;
  font-size: 0.9rem;
  margin-left: -0.5rem;
  line-height: 2rem;
}
.list--1 > ul > li {
  text-align: left;
  margin-right: 1rem;
  padding-left: 3rem;
}
.list--1 > ul > li:hover {
  cursor: pointer;
  color: var(--onHover-clr);
}

/* List section-2 */
.aboutUs__section > .list--2 > p {
  margin-left: -1.8rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.list--2 > ul > li {
  width: 105%;
  font-size: 0.9rem;
  margin-left: -0.9rem;
  line-height: 2rem;
}
.list--2 > ul > li {
  text-align: left;
  margin-right: 1rem;
  padding-left: 3rem;
}
.list--2 > ul > li:hover {
  cursor: pointer;
  color: var(--onHover-clr);
}

/* List section-3 */
.aboutUs__section > .list--3 > p {
  margin-left: 0.9rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.list--3 > ul > li {
  width: 105%;
  font-size: 0.9rem;
  margin-left: -0.9rem;
  line-height: 2rem;
}
.list--3 > ul > li {
  text-align: left;
  margin-right: 1rem;
  padding-left: 3rem;
}
.list--3 > ul > li:hover {
  cursor: pointer;
  color: var(--onHover-clr);
}

/* List section-4 */
.aboutUs__section > .list--4 > p {
  margin-left: 3rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.list--4 > ul > li {
  width: 105%;
  font-size: 0.9rem;
  margin-left: -0.9rem;
  line-height: 2rem;
}
.list--4 > ul > li {
  text-align: left;
  margin-right: 1rem;
  padding-left: 3rem;
}
.list--4 > ul > li:hover {
  cursor: pointer;
  color: var(--onHover-clr);
}
/* list section-5 */
.sub__section--aboutus {
  display: flex;
  color: var(--text-clr);
  padding-inline-start: 1rem;
  padding-inline-end: 7rem;
  padding-top: 0rem;
}

.sub__section--aboutus > .list--5 > p {
  margin-left: -0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
.list--5 > ul > li {
  width: 105%;
  font-size: 0.9rem;
  margin-left: -0.5rem;
  line-height: 2rem;
}
.list--5 > ul > li {
  text-align: left;
  margin-right: 1rem;
  padding-left: 3rem;
}
.list--5 > ul > li:hover {
  cursor: pointer;
  color: var(--onHover-clr);
}
