@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

/* Declaring variables */
:root {
  --text-clr: white;
  --onHover-clr: gray;
  --font-family-paragraph: "Space Mono", monospace;
  --clr-list--bg: #1a1a1d;
  --svg-clr: white;
  --text-clr-initial: black;
}

/* Reset CSS*/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 1rem;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
/* Main Elements */
.Card {
  border: 0.2px solid white;
  border-radius: 25px;
  padding: 2em 2em;
  color: var(--text-clr-initial);
  width: 75%;
  margin: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}
.badge_card p {
  font-family: var(--font-family-paragraph);
  color: var(--text-clr);
  background-color: #6236ff;
  padding: 0.5em 1.1em;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-top: 2em;
}
.main_description p {
  color: var(--text-clr-initial);
  margin: 1rem 0;
  padding: 0 auto;
  text-align: left;
  width: 95%;
  margin-right: 1rem;
  font-size: 1.7rem;
  line-height: 2.5rem;
}
.sub-description {
  text-align: left;
}
.sub-description p {
  font-family: var(--font-family-paragraph);
  font-size: 1.1rem;
  margin-bottom: 0rem;
}
.sub-description h6 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.6em;
}

hr {
  width: 99%;
  margin-left: 0;
}
.last_description {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: -1rem;
  cursor: pointer;
  width: 100%;
  -webkit-transition: margin 0.25s;
  transition: margin 0.25s;
}
.last_description:hover .section--1 > .svg_tag {
  margin-left: 1.2rem;
}
.section--1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section--2 {
  cursor: pointer;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: right;
  object-position: right;
  width: 6%;
  margin-right: 1rem;
}

.last_description .btn {
  font-size: 0.9rem;
  font-weight: 600;
}
.last_description .btn > a {
  color: var(--text-clr-initial);
  -webkit-transition: padding 0.25s;
  transition: padding 0.25s;
}
.last_description .btn > a:hover {
  color: #6236ff;
}
.last_description .svg_tag {
  align-self: center;
  margin-top: 0.2em;
  -webkit-transition: margin 0.25s;
  transition: margin 0.25s;
}
.last_description:hover .btn > a {
  color: #6236ff;
}
.last_description > .section--1 > .svg_tag:hover {
  margin-left: 1.2rem;
}
.logo_tag {
  margin-bottom: auto;
}
