@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

/* Declaring variables */
:root {
  --text-clr: white;
  --onHover-clr: gray;
  --font-family-paragraph: "Space Mono", monospace;
  --clr-list--bg: #1a1a1d;
  --svg-clr: white;
}

/* Reset CSS*/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 1rem;
}
ul,
li {
  list-style-type: none;
}
/* Main Elements */
.text__section {
  /* border: 1px solid blue; */
  margin-top: 4rem;
  display: flex;
  margin-left: 4rem;
  justify-content: space-around;
  color: white;
}

.text__section > h1 {
  /* border: 1px solid blue; */
  font-size: 2.5rem;
  width: 50%;
  text-align: left;
  padding: 0;
  margin-top: 4rem;
}

.form__section {
  /* border: 1px solid purple; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__section > input {
  height: 52px;
  border: 2px solid;
  background-color: transparent;
  border-radius: 60px;
  padding: 38px 47px;
  font-weight: 400;
  color: currentColor;
  line-height: 1.15rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form__section > input:focus {
  border-color: #6236ff;
  outline-width: 0;
}
.submit__btn {
  color: var(--text-clr);
  background-color: #6236ff;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f474ff),
    color-stop(66%, #6060ed),
    to(#0d3e34)
  );

  background-image: linear-gradient(90deg, #f474ff, #6236ff 66%, #0d3e34);
  background-position: 25% 50%;
  background-size: 150% 105%;
  border-radius: 40px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  font-family: Space Mono, "monospace";

  min-width: 130px;
  padding: 0.4rem 2.4rem;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background-position;
  transition-property: background-position;
  margin-left: 2rem;
}
.submit__btn:hover {
  background-image: linear-gradient(90deg, #fe5599 5%, #6236ff 66%, #0d3e34);
}

.submit__btn > p {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.1;
}
.msg {
  display: flex;
  flex-direction: row;
}

hr {
  color: #2b2b2b;
  margin-top: 2.7rem;
  width: 100.6%;
}
