@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
/* Declaring variables */
:root {
  --text-clr: white;
  --onHover-clr: gray;
  --font-family-paragraph: "Space Mono", monospace;
  --clr-list--bg: #1a1a1d;
}

/* Reset CSS*/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 1rem;
}
img {
  max-width: 100%;
}

/* Main Elements */
.description__2 {
  margin-top: 4rem;
  padding: 0 auto;
}

.icon__section {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding-top: 0.5rem;
  width: 3%;
}
.back__glow {
  background-image: linear-gradient(46deg, #b327bf, #66f 47%, #00c09a);
  border-radius: 35%;
  -webkit-filter: blur(13px);
  filter: blur(13px);
  height: 68px;
  width: 68px;
  left: 50%;
  position: relative;
  top: -3px;
  -webkit-transform: translateX(-50%) rotate(-9deg);
  transform: translateX(-50%) rotate(-9deg);
}
.border__section {
  border: 1px solid transparent;
  border-radius: 35%;
  transform: translateX(-50%) rotate(-9deg);
  width: 60px;
  height: 60px;
  /* background-color: black; */
  background-color: #1a1a1d;
  padding: 15px;
  margin-top: -4.2rem;
  margin-left: 1.21rem;
}

.text-section--small {
  margin-top: 5rem;
  color: var(--text-clr);
}

.text-section--small h6 {
  font-family: var(--font-family-paragraph);
  font-weight: 100;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.details {
  color: var(--text-clr);
  /* border: 2px solid purple; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0 2em;
}
.desc__text {
  margin: auto 0;
}

.desc__text h2 {
  font-size: 2.3rem;
  text-align: left;
  font-weight: 700;
  line-height: 2.8rem;
  /* border: 2px solid purple; */
  width: 96%;
  padding: 0.25em 0.2em;
}
.desc__text ul,
.desc__text li {
  list-style-type: none;
  position: relative;
}
.desc__text li::before {
  margin-left: 1rem;
  content: "";
  display: inline-block;
  width: 8px; /* Adjust size as needed */
  height: 8px; /* Adjust size as needed */
  border-radius: 50%; /* Make it a circle */
  background-color: #6236ff; /* Circle color */
  position: absolute;
  left: -20px; /* Adjust position as needed */
  top: 50%; /* Adjust position as needed */
  transform: translateY(-50%);
}

/* Special styling for 4rth list item */
.desc__text li:nth-child(4)::before {
  content: "";
  display: inline-block;
  width: 8px; /* Adjust size as needed */
  height: 8px; /* Adjust size as needed */
  border-radius: 50%; /* Make it a circle */
  background-color: #6236ff; /* Circle color */
  position: absolute;
  left: -20px; /* Adjust position as needed */
  top: 25%; /* Adjust position as needed */
  transform: translateY(-50%);
}
.desc__text ul > li {
  font-size: 1.1rem;
  text-align: left;
  line-height: 1.5em;
  margin-left: -2em;
  padding-left: 0.8em;
  width: 100%;
}
.desc__text > p {
  margin: 0 auto;
  text-align: left;
  margin-top: 5em;
  font-size: 1.2rem;
  font-weight: 500;
}

.btn--primary:after {
  content: "";
  height: 2px;
  position: absolute;
  width: 25%;
  margin-left: -19.6rem;
  cursor: pointer;
  margin-top: 1.8rem;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  background-image: linear-gradient(41deg, #f474ff, #6060ed);
}
.btn--primary:hover:after {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.desc-img {
  max-width: 80%;
  width: 120%;
  margin: 2.5em auto;
  padding-top: 5.5em;
  /* border: 2px solid purple; */
}
