@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
/* Declaring variables */
:root {
  --text-clr: white;
  --onHover-clr: gray;
  --font-family-paragraph: "Space Mono", monospace;
  --clr-list--bg: #1a1a1d;
}

/* Reset CSS*/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 1rem;
}
img {
  max-width: 100%;
}
p,
h5 {
  color: var(--text-clr);
}
ul,
li {
  list-style-type: none;
}
/* Main Elements */
.main {
  border: 2px solid blue;
  margin-top: 7rem;
  padding: 2rem 2rem;
}
.main > p {
  font-family: var(--font-family-paragraph);
  font-size: 1rem;
  letter-spacing: 0.2rem;
}
.main > h5 {
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.card__section h3 {
  font-size: 1.7rem;
  font-weight: 100;
  text-align: left;
  margin-left: 3rem;
  width: 80%;
  border: 2px solid white;
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(41deg, #f474ff, #6060ed 66%, #0d3e34);
}
.row {
  display: flex;
  justify-content: flex-start;
}
.card {
  border: 2px solid pink;
  width: 50%;
}
.card + .card {
  margin-left: 1.2rem;
}

.card :nth-child(3) {
  width: 70%;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 2px solid purple;
  margin-left: 3rem;
  margin-top: -1rem;
}
