/* Declaring variables */
:root {
  --text-clr: white;
  --onHover-clr: gray;
  --font-family-paragraph: "Space Mono", monospace;
  --clr-list--bg: #1a1a1d;
  --svg-clr: white;
}

/* Reset CSS*/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 1rem;
}
ul,
li {
  list-style-type: none;
}

/* Main Elements */
footer {
  color: var(--text-clr);
  margin-top: 4.3rem;
  margin-left: 4rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12rem;
  /* border: 1px solid blue; */
}
footer > h5 {
  text-align: left;
  padding-top: 2rem;
}
.rating__section {
  margin-top: -1rem;
  /* border: 1px solid purple; */
  width: 60%;
  text-shadow: 0 1px 0 #fff;
  display: flex;
  flex-direction: row;
  font-family: 11px/14px Helvetica Neue, Helvetica, Arial, sans-serif;
}
.rate_star {
  border: 1px solid;
  border-radius: 4px;
  width: 35%;
  background-color: white;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  padding-left: 0.6rem;
  /* border: 1px solid purple; */
}
.rate_star > a {
  color: #333;
  font-weight: 600;
  font-size: 0.7rem;
  margin-left: 0.5rem;
  width: 45%;
  text-align: left;
  white-space: nowrap;
}
.badge {
  border-radius: 3px;
  width: 24%;
  margin-left: 0.2rem;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  /* padding-left: 0.6rem; */
  padding: 2px 5px 2px 4px;
  /* border: 1px solid purple; */

  background-color: #fafafa;
  border: 1px solid #d4d4d4;
}
.up-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  margin-right: -0.46rem;
  margin-top: 0.48rem;
  transform: rotate(270deg);
}
.badge > span {
  color: #333;
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center;
}
.badge > span:hover {
  color: #4183c4;
  cursor: pointer;
}
.media__icons--section {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.75em 0.75em;
  margin-right: 0.8rem;
}
:where(.twitter, .linkedIn, .facebook, .youtube) {
  border: 2px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

:where(.twitter, .linkedIn, .facebook, .youtube):hover {
  color: #ab92b5;
  :where(#twitter, #linkedIn, #facebook, #youtube) {
    fill: #ab92b5;
  }
}
.twitter {
  line-height: 1.9rem;
}

.linkedIn {
  line-height: 1.6rem;
}
.facebook {
  line-height: 1.7rem;
}
.youtube {
  line-height: 1.7rem;
}
